.link{
text-decoration: none;
   color: aquamarine;
}

.link:hover{
    color: cadetblue;
}

.active{
color: darkgreen;
}

.block{
    width: 21px;
    height: 21px;
    margin: 10px;
    background: darkkhaki;
}

.header{
    display: flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}