.container{

}


.input {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    background: #F6F6f6;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin-left: 10px;
}

.error {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    background: #F6F6f6;
    border-radius: 8px;
    border: 1px solid red;
}

/* Button */

.skewBtn {
    width: 80px;
    height: 30px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    font-size: 13px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
.skewBtn:hover {
    border: none;
    color: white;
    font-size: 13px;
    transform: scale(1.1);
}


.purple {
    border: 2px solid #512da8;
    color: #512da8;
}
.purple:hover {
    background-color: #512da8;
    transition: all 0.3s ease-in-out;
}

